.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .color {
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.2s ease-in-out; 
  }
  
  .color:hover {
    transform: scale(1.05); 
  }
  
  .color img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: darkcyan;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h2 {
    color: cadetblue;
    font-size: 24px;
    margin-bottom: 20px;
    transition: color 0.3s ease; 
  }
  
  h2:hover {
    color: brown;
  }
  
  p {
    margin: 8px 0;
  }
  

  @media (max-width: 768px) {
    .color {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .color {
      width: 100%;
    }
  }